.bendi {
    min-height: 100vh;
    width: 100%;
    background-color: #f7f7f7; 
    position: relative;
    overflow: hidden;
}

.border {
    border-color: #00000042;
    background-color: transparent;
    position: relative;
    /* z-index: 5; */
    pointer-events: none;
}

.bendi > .gridTexts {
    grid-area: 1 / 2 / 2 / 4;
    width: 100%;
    background-color: transparent;
    padding: 10vh 0vw;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}

h2 {
    color: #a96c6c;
    font-weight: 800;
    font-size: 5vw;
    margin: 0;
}


.text {
    margin: -2.5vw 0;
    padding: var(--closed-padding);
    transition: padding 2s ease-in-out;

}
  
.text.open {
    padding: var(--open-padding);
}

.introduction {
    width: 50%;
    padding: 0 2vw;
    box-sizing: border-box;
    color: black;
    margin-top: calc(2.5vw + 48px);
    font-size: 18px;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.bold {
    font-weight: 700;
}




.picFixDisplay {
    height: 18vw;
    width: 24vw;
    position: absolute;
    bottom: 16vh;
    left: 52.6vw;
    background-image: url(../assets/eoc.jpg);
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
    /* border-radius: 16px; */
    z-index: 1;
}



/* .openOverride {
    padding: 0;
}

.text.close {
    padding: 0 0 0 2vw;
    transition: padding .5s ease-in-out;
} */



@media (max-width: 1023px) {
    h2 {
        font-size: 8vw;
    }

    .text {
        margin: -3.5vw 0;
    }

    .introduction {
        width: 100%;
        gap: 48px;
    }


    .picFixDisplay {
        /* top: calc(25vw + 340px); */
        grid-area: 2 / 1 / 3 / 5;
        width: calc(100% + 14vw);
        height: 40vh;
        /* left: 38vw; */
        position: relative;
        bottom: 0;
        left: 0;
        margin: 0 -7vw;
    }

    .bendi {
        min-height: 0;
        grid-template-rows: auto auto;
    }

    .bendi > .gridTexts {
        padding: 10vh 0 48px 0vw;
    }
}

@media (max-width: 768px) {
    h2 {
        font-size: 12vw;
    }

    .text {
        margin: -5.5vw 0;
    }

    .introduction {
        font-size: 18px;
    }


    .picFixDisplay {
        /* top: calc(25vw + 340px); */
        grid-area: 2 / 1 / 3 / 5;
        /* width: 100%; */
        height: 40vh;
        /* left: 38vw; */
        position: relative;
        bottom: 0;
        left: 0;
    }

    /* .bendi {
        height: calc(65vw + 480px);
    } */
}