.card {
    height: 70vh;
    width: 25vw;
    display: grid;
    grid-template-rows: 1fr auto;
    background-color: white;
    color: black;
    flex-shrink: 0;
}

.image {
    background-image: url(../assets/card_1.jpg);
    background-size: cover;
    background-position: center center;
}

.content {
    padding: 16px;
}

.price {
    font-size: 22px;
    font-weight: 800;
}

.time {
    font-size: 20px;
}

.text {
    font-size: 20px;
}

.titleLine {
    margin-bottom: 16px;
}

.dot {
    display: none;
    font-size: 20px;
    font-weight: 700;
}

@media (max-width: 1023px) {
    .card {
        width: 40vw;
    }
}

@media (max-width: 768px) {
    .card {
        margin-bottom: calc(5vh + 64px);
        width: 85vw;
        height: 40vh;
    }

    .price {
        font-size: 17px;
    }

    .time {
        font-size: 17px;
        font-weight: 700;
    }

    .text {
        font-size: 17px;
        line-height: 1;
    }

    .titleLine {
        display: flex;
        gap: 8px;
        margin-bottom: 4px;
    }

    .dot {
        display: block;
    }
}