.contact {
    min-height: calc(var(--vh) * 100);
    width: 100%;
    background-color: #f7f7f7; 
    position: relative;
    overflow: hidden;
}

.border {
    border-color: #00000042;
    background-color: transparent;
    position: relative;
    z-index: 5;
    pointer-events: none;
}

.contact > .gridTexts {
    grid-area: 1 / 2 / 2 / 5;
    width: 100%;
    background-color: transparent;
    padding: calc(var(--vh) * 10) 0vw;
    box-sizing: border-box;
}

.timelineGrid {
    display: flex;
    flex-direction: column;
    margin-top: calc(2.5vw + 48px);
    border-top: 2px solid #a96c6c;
    margin-bottom: calc(var(--vh) * 8);
}


/* .mapWrapper {
    margin-top: calc(2.5vw + 48px);
} */

.detailflex {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

iframe {
    border: none;
}

.map {
    width: 100%;
    height: calc(var(--vh) * 50);
}

.instructions {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding-left: 48px;
    /* border-left: 2px solid #3c2521; */
    height: 100%;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.note {
    font-size: 16px;
}

.bold {
    font-weight: 700;
}