.horizontalJack {
    display: flex;
    gap: 1rem;
  
    overflow-x: auto;
    overflow-y: hidden;
  
    height: 100vh;
    padding: 2rem;
  
    scroll-snap-type: x mandatory;
    touch-action: none; /* REQUIRED for mobile scroll hijacking */
} 