nav {
    position: fixed;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
    width: 45vw;
    background-color: black;
    z-index: 9999;
    color: white;
    display: flex;
    flex-direction: column;
    border-radius: 32px;
}

.navOpen {
    margin-left: 85px;
    font-size: 24px;
    font-weight: 700;
    max-height: 0;
    overflow-y: hidden;
    transition: max-height 0.4s ease;
}

.navBottom {
    display: flex;
    gap: 24px;
    align-items: center;
    padding: 8px 20px;
    font-size: 16px;
}

.texts {
    flex: 1;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    /* width: 25vw; */
    margin-left: 12px;
    height: 20px;
}

.text {
    /* transform: translateY(100%);
    transition: transform 0.2s ease;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%; */
    position: "absolute";
    top: 0;
    left: 0;
    width: "100%";
    /* animation: scroll 5s linear infinite; */
}

.icons {
    overflow: hidden;
    position: relative;
    height: 22px;
    width: 22px;
}

.icon {
    /* padding: 0 8px; */
    position: "absolute";
    top: 0;
    left: 0;
    width: "100%";
}

.location {
    background-color: white;
    color: black;
    border-radius: 24px;
    padding: 4px 12px;
}

ul {
    list-style: none;
    padding: 24px 0 36px;
}

li {
    padding: 6px 0;
    transition: padding 0.5s;
}

li:hover {
    padding-left: 32px;
}

.block {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    /* background-color: #92929288; */
    backdrop-filter: blur(10px);
    display: auto;
}

/* @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
} */

@media (max-width: 1200px) {
    nav { 
        width: 55vw; 
    }
}

@media (max-width: 1023px) {
    nav { 
        width: 70vw; 
    }
}

@media (max-width: 768px) {
    nav { 
        width: 90vw;
        bottom: 24px;
        border-radius: 24px;
    }

    .navBottom {
        gap: 12px;
        align-items: center;
        padding: 12px 16px;
        font-size: 16px;
    }

    .navOpen {
        margin-left: 36px;
        font-size: 17px;
    }

    .location {
        display: none;
    }

    .icons {
        display: none;
    }

    .texts {
        margin-left: 4px;
    }
}