.pricesSectionWrapper {
    position: relative;
    /* height: 100vh; */
}

.pricesSection {
    position: relative;
    z-index: 5;
}
  
.pricesSticky {
    position: sticky;
    top: 0;
    height: calc(var(--vh) * 100);
    overflow: hidden;
    /* z-index: 5; */
}
  
.scrollContainer {
    height: calc(var(--vh) * 100);
    display: flex;
    width: max-content;
    gap: 25vw;
    will-change: transform;
    padding-left: 75vw;
    padding-right: 25vw;
    align-items: center;
}

.fixed {
    height: 100%;
    width: 100%;
    /* background-color: aqua; */
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
}

.fixedUp {
    height: 100%;
    width: 100%;
    /* background-color: aqua; */
    position: absolute;
    z-index: 7;
    top: 0;
    left: 0;
}

.fixedSticky {
    height: calc(var(--vh) * 100);
    width: 100%;
    position: sticky;
    top: 0;
    /* background-color: brown; */
    display: grid;
    grid-template-columns: 18% 32% 32% 18%;
    grid-template-rows: 100%;
}

.bgHalf {
    grid-area: 1 / 3 / 2 / 5;
    position: relative;
    overflow: hidden;
}

.bgLayer {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    opacity: 0;
    will-change: opacity;
    filter: blur(10px);
    pointer-events: none;
}

.bgLayer:first-child {
    opacity: 1;
}

.titleHalf {
    grid-area: 1 / 1 / 2 / 5;
    width: 50%;
    overflow: hidden;
    background-color: black;
    /* transition: none; */
}

.title {
    padding-left: calc(18vw + 24px);
    padding-top: calc(var(--vh) * 15);
    color: white;
    /* font-size: 22px; */
    width: 25vw; 
    position: relative;
    z-index: 3;
}

.priceTag {
    margin-left: calc(18vw + 24px);
    padding: 12px 0;
    display: grid;
    grid-template-columns: calc(32vw - 48px) auto;
    width: 0%;
    overflow: hidden;
    white-space: nowrap;
    border-top: 1px solid white;
    position: relative;
    z-index: 2;
}

.priceTagInnerWrapper {
    display: flex;
}

.tagPrice {
    margin-left: auto;
}


.bgLayer[data-bg] {
    background-image: attr(data-bg url);
}

.titleOverlay {
    position: absolute;
    inset: 0;
    width: 0;
    background: black;
    pointer-events: none;
    z-index: 0;
}

.border {
    position: relative;
    z-index: 1;
}

@media (max-width: 1023px) {
    .scrollContainer {
        padding-left: 60vw;
        padding-right: 10vw;
    }

    .fixedSticky {
        grid-template-columns: 5% 45% 45% 5%;
    }

    .title {
        padding-left: calc(5vw + 24px);
    }

    .priceTag {
        margin-left: calc(5vw + 24px);
        grid-template-columns: calc(45vw - 48px) auto;
    }
}

@media (max-width: 768px) {
    .bgHalf {
        grid-area: 1 / 1 / 2 / 5;
    }

    .titleHalf {
        grid-area: 1 / 1 / 2 / 5;
        background-color: transparent;
        width: 100% !important;
    }

    .title {
        padding-left: calc(5vw + 24px);
        padding-top: calc(var(--vh) * 8);
        color: white;
        font-size: 12vw;
        width: calc(80vw - 16px); 
    }

    .scrollContainer {
        padding-left: 15vw;
        padding-right: 15vw;
        align-items: flex-end;
    }

    .priceTag {
        padding: 4px 0;
        display: grid;
        grid-template-columns: calc(90vw - 48px) auto;
        width: 0%;
    }

    .titleOverlay {
        visibility: hidden;
    }
    
}
  