.reviews {
    min-height: 100vh;
    width: 100%;
    background-color: #3c2521; 
    position: relative;
    overflow: hidden;
    color: white;
    font-size: 20px;
}

.border {
    border-color: #ffffff42;
    background-color: transparent;
    position: relative;
    z-index: 5;
    pointer-events: none;
}

.reviewss {
    display: grid;
    grid-template-columns: 18fr 64fr 18fr;
    align-items: center;
    grid-area: 1 / 1 / 2 / 5;
}

.btnContainer {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.btnContainer:hover {
    background-color: #a96c6c;
}

.btn {
    background-color: transparent;
    border: 1px solid #ffffff88;
    color: white;
}

/* .btn:hover {
    background-color: #a96c6c;
    border: 1px solid #a96c6c;
} */
  
.reviewsGrid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
  
.reviewCard {
    padding: 1.5rem;
    /* border-radius: 12px; */
    /* background: #e64b30; */
    position: relative;
    overflow: hidden;
}
  
.text {
    /* font-size: 20px; */
    font-weight: 600;
    margin-top: 12vh;
}
  
.name {
    display: block;
    font-weight: 600;
    margin-top: 8vh;
}


.overlay {
    position: absolute;
    inset: 0;
    background: #a96c6c;
    transform: translateX(-101%);
    z-index: 2;
    transition: transform 0.6s ease;
}

.overlayWrapper1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.overlayWrapper2 {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.rest {
    transform: translateX(-101%);
}
  
.covered {
    transform: translateX(0%);
}
  
.exitRight {
    transform: translateX(101%);
}

.noTransition {
    transition: none;
}

@media (max-width: 1023px) {
    .reviewss {
      grid-template-columns: 10% 80% 10%;
    }

    .reviewsGrid {
        grid-template-columns: 100%;
    }
}

@media (max-width: 768px) {
    .btn {
        border: none;
    }

    .reviews {
        font-size: 17px;
        /* min-height: 800px; */
    }

    .reviewCard {
        padding: 8px;
    }

    .text {
        margin-top: 36px;
    }
}