@font-face {
  font-family: 'TASA';
  src: url('./assets/TASAExplorer.ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'TASA';
  src: url('./assets/TASAExplorer.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TASA';
  src: url('./assets/TASAExplorer.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'TASA';
  src: url('./assets/TASAExplorer.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Mynerve';
  src: url('./assets/Mynerve.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Reenie';
  src: url('./assets/ReenieBeanie.ttf');
  font-weight: 400;
  font-style: normal;
}

:root {
  font-family: 'TASA', system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

h1 {
  /* font-size: 3.2em; */
  line-height: 1.1;
  margin: 0;
}

.gridMain {
  display: grid;
  grid-template-columns: 18% 32% 32% 18%;
  grid-template-rows: 100%;
}

.firstBorder {
  grid-area: 1 / 1 / 2 / 2; 
}

.secondBorder {
  grid-area: 1 / 2 / 2 / 3;
}

.thirdBorder {
  grid-area: 1 / 3 / 2 / 4;
}

.fourthBorder {
  grid-area: 1 / 4 / 2 / 5;
}

.firstBorder {
  height: 100%;
}

.secondBorder, 
.thirdBorder, 
.fourthBorder {
  border-left: 1px solid #ffffff88;
  height: 100%;
}

p {
  margin-block-end: 0;
  margin-block-start: 0;
  margin: 0;
  padding: 0;
}

@media (max-width: 1023px) {
  .gridMain {
    grid-template-columns: 5% 45% 45% 5%;
  }
}


